div {
    text-align: center;
}
table {
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    height: 25px;
    width: 45px;

}

th {
    background-color: lightgray;
}

table td:nth-child(1) {
    background-color: lightgray;
    width: auto;
};